.background {
    background-image: url('../public/assets/city.jpg');
    background-size: cover;
    width: 143vh;
    height: 100vh;
    transition: all 5s ease-out;
}

.backgroundShadowed {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../public/assets/city.jpg');
    width: 143vh;
    height: 100vh;
}

.building {  
    background-size: 143vh 100vh;
    background-repeat: no-repeat;
    transition: all .4s linear;
    position: absolute;    
}

@mixin shadowedBuilding {
    background-size: 143vh 100vh;
    position: absolute;
    background-repeat: no-repeat;
        &:hover {
        transform: scale(1,1);
    }
}

@mixin selectedBuilding {
    &:hover {
        transform: scale(1) translate(0,0);
    }
    width: 35vh;    
    height: 35vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

@mixin forestGeometry {
    width: 55vh;    
    height: 50vh;
    left: 0;
    top: 0;
}

.forest {
    background-image: url('../public/assets/forest.png');
    @include forestGeometry();
    &:hover {
        transform: scale(1.4,1.4) translate(4.5vh,4vh);
        z-index: 2;
    }
}

.forestShadowed {
    opacity: 0.2;
    @include shadowedBuilding();    
}

.forestSelected {
    @include selectedBuilding();
    background-size: 80vh 56vh;  
}

@mixin ludusGeometry {
    width: 35vh;
    height: 26vh;
    left: 95vh;
    top: 63vh;
    background-position: -95vh -63vh; 
}

.ludus {
    background-image: url('../public/assets/ludus.png');
    @include ludusGeometry();
    &:hover {
        transform: scale(1.4,1.4);
        z-index: 2;
    }
}

.ludusShadowed {
    opacity: 0.2;
    @include shadowedBuilding(); 
}

.ludusSelected {
    @include selectedBuilding()
}

@mixin coliseumGeometry {
    width: 55vh;
    height: 40vh;
    left: 41vh;
    top: 31vh;
    background-position: -41vh -31vh; 
}

.coliseum {
    background-image: url('../public/assets/coliseum.png');
    @include coliseumGeometry();
    &:hover {
        transform: scale(1.4,1.4);
    }    
}

.coliseumShadowed {
    opacity: 0.2;
    @include shadowedBuilding(); 
}

.coliseumSelected {
    @include selectedBuilding();
    background-size: 80vh 56vh;  
    background-position-y: -17vh;
    background-position-x: -23vh;
}

@mixin marketGeometry {
    width: 38vh;
    height: 23vh;
    left: 97vh;
    top: 13vh;
    background-position-x: -97vh;
    background-position-y: -13vh;
}

.market {
    background-image: url('../public/assets/market.png');
    @include marketGeometry();
    &:hover {
        transform: scale(1.4,1.4);
    }
}

.marketShadowed {
    opacity: 0.2;
    @include shadowedBuilding(); 
}

.marketSelected {
    @include selectedBuilding();
    width: 200vh;    
    height: 200vh;
    background-size: 100vh 70vh;  
    background-position-y: -9vh;
    background-position-x: -68vh;
}